body {
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a:hover {
    color: white;
}

#sidebar .sidebar-logo-img {
    border: 0;
}

#sidebar .sidebar-logo img {
    width: 123px;
}

#sidebar .sidebar-logo {
    margin-top: 40px;
    vertical-align: center;
    text-align: center;
}

#sidebar {
    background-color: #2a3542;
    width: 280px;
    height: 100%;
    float: left;
    position: fixed;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 50px;
}

.nav a {
    text-decoration: none;
    color: #aeb2b7;
    font-size: 130%;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.nav li {
    color: white;
    width: 260px;
    height: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 4px;
    transition: background 0.2s;
}

.small {
    padding-left: 40px !important;
    font-size: 80% !important;
}

.nav li:hover {
    background: rgba(255, 255, 255, 0.2);
}

#container {
    margin-left: 280px;
    display: block;
    overflow-x: hidden;
}

#container #main-header {
    padding-left: 90px;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: left;
    background-color: #33d6ff;
    color: white;
}

#container #main-header p {
    font-size: 130%;
}

#container #main-header h1 {
    font-size: 250%;
    font-style: normal;
}

#container #main-header a {
    text-decoration: underline;
    color: white;
}

badge {
    font-size: 0.3em;
    border-radius: 15%;
    padding: 2px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

section {
    width: 80%;
}

.documentation {
    padding-top: 50px;
    padding-left: 90px;
    padding-bottom: 100px;
}

.documentation .notice {}

.documentation section a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.documentation section a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.documentation section .img {
    width: 80%;
    text-align: center;
}

.documentation section .img-border {
    border: 1px solid black;
}

#footer {
    height: 250px;
    background-color: #33d6ff;
    width: 100%;
    margin-top: 80px;
}

#footer .notice {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    color: white;
}

#footer ul {
    border: 1px dotted #33b6ff;
    border-radius: 5%;
    height: 150px;
    padding-top: 20px;
}

#footer .social .social-links {
    list-style-type: none;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    display: inline;
    width: 20%;
}

#footer .info .info-links {
    list-style-type: none;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    display: inline;
    width: 20%;
}

#footer .additional-info .additional-info-links {
    list-style-type: none;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    display: inline;
    width: 20%;
}

#footer ul li a {
    color: black;
    font-size: 110%;
}

.center {
    text-align: center;
}

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 1em;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}
